<!DOCTYPE html>
<html lang="en">

    <head>
        <%- include("../fragmente/meta")%>
    	<link href="/resurse/css/general-mare.css" rel="stylesheet" type="text/css">
        <link href="/resurse/css/general-mediu.css" rel="stylesheet" type="text/css" media="screen and (max-width:1200px)">
        <link href="/resurse/css/general-mic.css" rel="stylesheet" type="text/css" media="screen and (max-width:500px)">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
        <link rel="stylesheet" media="print" href="/resurse/css/print.css">
        <title>AutoShop</title>
    </head>
    <body>
        <%- include("../fragmente/header")%>
        <main>
            <section class="zona1">
                <hr class="separator">
                <h2>Welcome to my humble Auto Shop!<i class="fas fa-car fa-spin"></i></h2>
                <p>Thank you kindly for taking interest in my first ever business. The plan for this website will be to provide</p>
                <p>customers a way to find solution to their auto related problems such as buying parts for your borken car, an auto service</p>
                <p>for more complicated problems and a junkyard part where you can find cheap parts you need.</p>
                <p>You can see everything you need under these categories:</p>
                <ul>
                    <li>New Parts</li>
                    <li>Junkyard</li>
                    <li>Service</li>
                </ul>
                <p>And here you can see the logo of the car manufactures we can help you with:</p>
                <div>
                    <img id="logos" src="https://static.wixstatic.com/media/802dc7_000c2f6c057c467cb9c2adc9fb3e40bd~mv2.gif" alt="manufacture">
                </div>
                <hr class="separator">
            </section>
            <section class="zona2">
                <table class="table">
                    <thead>
                      <tr>
                        <th>Product</th>
                        <th>Sale</th>
                        <th>Stock</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr class="data">
                            <td>Clutch Kit</td>
                            <td>1.487 Lei</td>
                            <td>10</td>
                        </tr>
                        <tr class="data">
                            <td>Mechanical jack Geko</td>
                            <td>51 Lei</td>
                            <td>5</td>
                        </tr>
                        <tr class="data">
                            <td>Mandatory Car Equipment Package Road Code</td>
                            <td>53 Lei</td>
                            <td>10</td>
                        </tr>
                        <tr class="data">
                            <td>LPG installation Dacia</td>
                            <td>2.023 Lei</td>
                            <td>2</td>
                        </tr>
                        <tr class="data">
                            <td>Xiaomi Car Compressor</td>
                            <td>199 Lei</td>
                            <td>1</td>
                        </tr>
                        <tr class="data">
                            <td>Xiaomi Car Compressor</td>
                            <td>199 Lei</td>
                            <td>1</td>
                        </tr>
                        <tr class="data">
                            <td>Xiaomi Car Compressor</td>
                            <td>199 Lei</td>
                            <td>1</td>
                        </tr>
                        <tr class="data">
                            <td>Xiaomi Car Compressor</td>
                            <td>199 Lei</td>
                            <td>1</td>
                        </tr>
                        <tr class="data">
                            <td>Xiaomi Car Compressor</td>
                            <td>199 Lei</td>
                            <td>1</td>
                        </tr>
                        <tr class="data">
                            <td>Xiaomi Car Compressor</td>
                            <td>199 Lei</td>
                            <td>1</td>
                        </tr>
                        <tr class="data">
                            <td>Xiaomi Car Compressor</td>
                            <td>199 Lei</td>
                            <td>1</td>
                        </tr>
                        <tr class="data">
                            <td>Xiaomi Car Compressor</td>
                            <td>199 Lei</td>
                            <td>1</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <td colspan="3" style="text-align: center;" id="finalt"> Be quick to buy while they're still in stock!</td>
                    </tfoot>
                </table>
            </section>
            <section class="zona3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque egestas libero gravida nisi cursus, et scelerisque turpis tincidunt. Suspendisse tortor justo, rutrum sit amet rutrum eu, ultricies quis ante. Nulla quis nibh tincidunt, sollicitudin dolor nec, luctus lectus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean iaculis, lacus eget viverra mollis, turpis enim semper turpis, eu viverra turpis leo quis lorem. Donec finibus libero ligula, sit amet egestas metus ornare ut. Suspendisse potenti. Nunc non interdum purus, non porta metus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus molestie consectetur maximus.</section>
            <section class="zona4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque egestas libero gravida nisi cursus, et scelerisque turpis tincidunt. Suspendisse tortor justo, rutrum sit amet rutrum eu, ultricies quis ante. Nulla quis nibh tincidunt, sollicitudin dolor nec, luctus lectus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean iaculis, lacus eget viverra mollis, turpis enim semper turpis, eu viverra turpis leo quis lorem. Donec finibus libero ligula, sit amet egestas metus ornare ut. Suspendisse potenti. Nunc non interdum purus, non porta metus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus molestie consectetur maximus.</section>
            <section class="zona5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque egestas libero gravida nisi cursus, et scelerisque turpis tincidunt. Suspendisse tortor justo, rutrum sit amet rutrum eu, ultricies quis ante. Nulla quis nibh tincidunt, sollicitudin dolor nec, luctus lectus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean iaculis, lacus eget viverra mollis, turpis enim semper turpis, eu viverra turpis leo quis lorem. Donec finibus libero ligula, sit amet egestas metus ornare ut. Suspendisse potenti. Nunc non interdum purus, non porta metus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus molestie consectetur maximus.</section>
            <section class="zona6">
                <p>Your ip is<%- locals.ip %></p>
            </section>
            <section class="zona7">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque egestas libero gravida nisi cursus, et scelerisque turpis tincidunt. Suspendisse tortor justo, rutrum sit amet rutrum eu, ultricies quis ante. Nulla quis nibh tincidunt, sollicitudin dolor nec, luctus lectus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean iaculis, lacus eget viverra mollis, turpis enim semper turpis, eu viverra turpis leo quis lorem. Donec finibus libero ligula, sit amet egestas metus ornare ut. Suspendisse potenti. Nunc non interdum purus, non porta metus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus molestie consectetur maximus.</section>
            <section class="zona8">
                <h2 id="titlu">Easy Maintenance Guide</h2>
                <p id="ghid_text">Here are a few tutorials that can save you in not so nice situations and save you some money in the long run.</p>
                <div class="tab">
                    <div id="tabs">
                        <a id="but1" href="https://www.youtube.com/embed/gomCYZg9Grs" target="ifr-video">Motor Oil & Filter</a>
                        <a id="but2" href="https://www.youtube.com/embed/QTst6ZdlVtg" target="ifr-video" >Tire <br>Pressure</a>
                        <a id="but3" href="https://www.youtube.com/embed/314HE4aMG-g" target="ifr-video" >Changing a Tire</a><br>
                    </div>
                <iframe id="IF" name="ifr-video" src="https://www.youtube.com/embed/gomCYZg9Grs" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </section>
            <%- include("../fragmente/galerie")%>
            <div id="watermark">
                <p><b>Trocaru</b></p>
                <p><b>Cristian-Bogdan</b></p>
            </div>
            <section id="banner">
                <b>THIS IS A COLLEGE PROJECT!</b>
            </section>
        </main>
        <%- include("../fragmente/footer")%>
    </body>
</html>
        